<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bitbucket" version="1.9.2" targetFramework="net472" />
  <package id="Carbon.Data.Protection" version="0.16.0" targetFramework="net472" />
  <package id="Carbon.Json" version="1.6.0" targetFramework="net472" />
  <package id="Carbon.Packaging" version="1.24.0" targetFramework="net472" />
  <package id="Carbon.Storage" version="1.13.0" targetFramework="net472" />
  <package id="Carbon.VersionControl" version="1.7.0" targetFramework="net472" />
  <package id="Carbon.Versioning" version="1.4.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net472" />
</packages>